In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from itertools import combinations 
from collections import Counter
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
961,tt0261289,29000000,16930185,Serving Sara,Matthew Perry|Elizabeth Hurley|Vincent Pastore...,Reginald Hudlin,The One Thing That Could Bring Them Together I...,Serving Sara is a 2002 romantic comedy film wh...,100,Comedy|Romance,Paramount Pictures,8/20/2002,5.1,2002
317,tt1055369,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wils...,Michael Bay,Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,Science Fiction|Action|Adventure,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/19/2009,6.0,2009
667,tt0811138,62000000,41819064,The Love Guru,Mike Myers|Jessica Alba|Justin Timberlake|Roma...,Marco Schnabel,His Karma is Huge,Born in America and raised in an Indian ashram...,87,Comedy|Romance,Paramount Pictures|Goldcrest Pictures|Internat...,6/20/2008,4.5,2008
1274,tt1924396,13500000,19255873,La migliore offerta,Geoffrey Rush|Jim Sturgess|Sylvia Hoeks|Donald...,Giuseppe Tornatore,A Master of Possession. A Crime of Obsession,Virgil Oldman is a world renowned antiques exp...,124,Drama|Romance|Crime|Mystery,Paco Cinematografica|Warner Bros.|Regione Lazi...,1/1/2013,7.7,2013
547,tt0236493,57000000,147845033,The Mexican,Brad Pitt|Julia Roberts|James Gandolfini|J.K. ...,Gore Verbinski,Love with the safety off.,"Jerry Welbach, a reluctant bagman, has been gi...",123,Action|Comedy|Crime|Romance,DreamWorks SKG|Newmarket Capital Group|Lawrenc...,3/1/2001,5.7,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data.release_date = pd.to_datetime(data.release_date, format='%m/%d/%Y')
data['profit'] = data.revenue - data.budget
data['genres_list'] = data.genres.str.split('|')
data['director_list'] = data.director.str.split('|')
data['cast_list'] = data.cast.str.split('|')
data['production_companies_list'] = data.production_companies.str.split('|')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,production_companies_list
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,"[Adventure, Action, Fantasy]",[Rob Marshall],"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...","[Walt Disney Pictures, Jerry Bruckheimer Films..."

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.sort_values(by='budget', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,production_companies_list
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,"[Adventure, Action, Fantasy]",[Rob Marshall],"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...","[Walt Disney Pictures, Jerry Bruckheimer Films..."

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [9]:
# решение
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,production_companies_list
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,"[Drama, History, War]",[Ronald F. Maxwell],"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...","[Turner Pictures, Antietam Filmworks]"

In [10]:
# решение 2
data.sort_values(by='runtime', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,production_companies_list
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,"[Drama, History, War]",[Ronald F. Maxwell],"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...","[Turner Pictures, Antietam Filmworks]"

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
# ответ
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [12]:
# решение
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,production_companies_list
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,"[Animation, Family]","[Stephen Anderson, Don Hall]","[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Walt Disney Pictures, Walt Disney Animation S..."

# 4. Какова средняя длительность фильмов?

In [13]:
# ответ
answers['4'] = '2. 110'

In [14]:
# решение
data.runtime.mean()

109.6585494970884

In [15]:
# поскольку варианты ответов округленные, может быть нужно это
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [16]:
# ответ
answers['5'] = '1. 107'

In [17]:
# решение
data.runtime.median()

107.0

In [18]:
# все также содержится в общей статистике describe()
data.describe()['runtime']['50%']
data.runtime.describe()['50%']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
# получение столбца profit вынесено в Предобработку
# ответ
answers['6'] = '5. Avatar (tt0499549)'

In [20]:
# решение
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,production_companies_list
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,"[Action, Adventure, Fantasy, Science Fiction]",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Ingenious Film Partners, Twentieth Century Fo..."

# 7. Какой фильм самый убыточный?

In [21]:
# ответ
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [22]:
# решение
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,production_companies_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski],"[Johnny Depp, Armie Hammer, William Fichtner, ...","[Walt Disney Pictures, Jerry Bruckheimer Films..."

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
# ответ
answers['8'] = '1. 1478'

In [24]:
# решение
data[data.profit > 0].profit.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
# ответ
answers['9'] = '4. The Dark Knight (tt0468569)'

In [26]:
# решение
data[data.release_year == 2008].sort_values(by='profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,production_companies_list
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,"[Drama, Action, Crime, Thriller]",[Christopher Nolan],"[Christian Bale, Michael Caine, Heath Ledger, ...","[DC Comics, Legendary Pictures, Warner Bros., ..."

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
# ответ
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [28]:
# решение
data[(data.release_year >= 2012) & (data.release_year <= 2014)].sort_values(by='profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,director_list,cast_list,production_companies_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski],"[Johnny Depp, Armie Hammer, William Fichtner, ...","[Walt Disney Pictures, Jerry Bruckheimer Films..."

# 11. Какого жанра фильмов больше всего?

In [29]:
# ответ
answers['11'] = '3. Drama'

In [30]:
# решение 1
data.explode('genres_list').genres_list.value_counts(ascending=False)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres_list, dtype: int64

ВАРИАНТ 2

In [31]:
# решение 2
genres = pd.Series(data['genres'].str.cat(sep='|').split('|'))
genres.value_counts(ascending=False)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
# ответ
answers['12'] = '1. Drama'

In [33]:
# решение 
df = data[data.profit > 0].explode('genres_list')
df.genres_list.value_counts(ascending=False)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres_list, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [34]:
# ответ
answers['13'] = '5. Peter Jackson'

In [35]:
# решение
df = data.explode('director_list')
df.groupby(['director_list']).revenue.sum().sort_values(ascending=False)

director_list
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
# ответ
answers['14'] = '3. Robert Rodriguez'

In [37]:
# решение
df = data.explode('genres_list')
df = df[df.genres_list == 'Action']
df = df.explode('director_list')
df.groupby(['director_list']).genres_list.count().sort_values(ascending=False)

director_list
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: genres_list, Length: 364, dtype: int64

In [38]:
# решение 2 (stack неуклюжий и громоздкий в данном случае, но хочется рассмотреть и его)

dg_df = pd.DataFrame(data.genres.str.split('|').tolist(), index=data.director).stack()
dg_df = dg_df.reset_index(level=0)
dg_df.columns = ['director', 'genre']

dg_df = pd.DataFrame(dg_df.director.str.split('|').tolist(), index=dg_df.genre).stack()
dg_df = dg_df.reset_index(level=0)
dg_df.columns = ['genre', 'director']

dg_df[dg_df.genre == 'Action'].groupby(['director']).genre.count().sort_values(ascending=False)

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: genre, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [39]:
# ответ
answers['15'] = '3. Chris Hemsworth'

In [40]:
# решение
df = data[data.release_year == 2012].explode('cast_list')
df.groupby(['cast_list']).revenue.sum().sort_values(ascending=False)

cast_list
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [41]:
# ответ
answers['16'] = '3. Matt Damon'

In [42]:
# решение
df = data[data.budget > data.budget.mean()].explode('cast_list')
df.cast_list.value_counts(ascending=False)

Matt Damon            18
Adam Sandler          17
Angelina Jolie        16
Tom Cruise            15
Eddie Murphy          15
                      ..
Rhys Ifans             1
Clancy Brown           1
Shawn Wayans           1
Elizabeth Mitchell     1
Laura Kirk             1
Name: cast_list, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [43]:
# ответ
answers['17'] = '2. Action'

In [44]:
# решение
df = data.explode('cast_list')
df = df[df.cast_list == 'Nicolas Cage']
df = df.explode('genres_list')

df.groupby(['genres_list']).genres_list.count().sort_values(ascending=False)

genres_list
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: genres_list, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [45]:
# ответ
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [46]:
# решение
df = data.explode('production_companies_list')
df[df.production_companies_list == 'Paramount Pictures'].sort_values(by='profit', ascending=True).original_title

925                                  K-19: The Widowmaker
1123                                             Timeline
1722                                                 Next
1623                                                Alfie
1631                                              Twisted
                              ...
730                  Mission: Impossible - Ghost Protocol
1738                                         Transformers
603     Indiana Jones and the Kingdom of the Crystal S...
317                   Transformers: Revenge of the Fallen
828                        Transformers: Dark of the Moon
Name: original_title, Length: 122, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [47]:
# ответ
answers['19'] = '5. 2015'

In [48]:
# решение
data.groupby(['release_year']).revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
# ответ
answers['20'] = '5. 2015'

In [50]:
# решение
df = data.explode('production_companies_list')
df = df[df.production_companies_list.str.match('Warner Bros')]
df.groupby(['release_year']).profit.sum().sort_values(ascending=False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [51]:
# ответ
answers['21'] = '4. Сентябрь'

In [52]:
# решение
data.release_date.dt.month_name().value_counts(ascending=False)

September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [53]:
# ответ
answers['22'] = '2. 450'

In [54]:
# решение
data[data.release_date.dt.month.isin([6,7,8])].count()

imdb_id                      450
budget                       450
revenue                      450
original_title               450
cast                         450
director                     450
tagline                      450
overview                     450
runtime                      450
genres                       450
production_companies         450
release_date                 450
vote_average                 450
release_year                 450
profit                       450
genres_list                  450
director_list                450
cast_list                    450
production_companies_list    450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [55]:
# ответ
answers['23'] = '5. Peter Jackson'

In [56]:
# решение
df = data[data.release_date.dt.month.isin([12,1,2])].explode('director_list')
df.director_list.value_counts(ascending=False)

Peter Jackson                7
Clint Eastwood               6
Steven Soderbergh            6
Shawn Levy                   4
Martin Scorsese              4
                            ..
David Frankel                1
John A. Davis                1
Len Wiseman                  1
Chris Koch                   1
Christian E. Christiansen    1
Name: director_list, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [57]:
# ответ
answers['24'] = '5. Four By Two Productions'

In [58]:
# решение
df = data.explode('production_companies_list')
df = df.groupby('production_companies_list').original_title.apply(lambda x: x.str.len().mean())
df.sort_values(ascending=False)

production_companies_list
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: original_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [59]:
# ответ
answers['25'] = '3. Midnight Picture Show'

In [60]:
# решение
df = data.explode('production_companies_list')
df = df.groupby('production_companies_list').overview.apply(lambda x: x.str.split().str.len().mean())
df.sort_values(ascending=False)

production_companies_list
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [61]:
# ответ
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [62]:
# решение
data.sort_values(by='vote_average', ascending=False).head(round(len(data)*0.01))['original_title']

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [63]:
# ответ
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [64]:
# решение
df = data
df['cast_pairs'] = df.cast_list.apply(lambda x: list(combinations(x, 2)))
df = df.explode('cast_pairs')
df.cast_pairs.value_counts()

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Gaia Weiss, Roxanne McKee)            1
(Katrina Bowden, David Koechner)       1
(Ashton Kutcher, William Lee Scott)    1
(Cate Blanchett, Tilda Swinton)        1
(Blake Woodruff, Michael Rooker)       1
Name: cast_pairs, Length: 18121, dtype: int64

# Submission

In [65]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '5. 2015',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [66]:
# и убедиться что ни чего не пропустил)
len(answers)

27